.input-container {
    height: 50px;
    width: 330px;
    border: 2px solid var(--primary_green);
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
    /*margin-bottom: 10px;*/
    margin: 50px 0;
    justify-content: space-between;
    padding: 0 10px;
}

.label-container {
    background-color: var(--primary_green);
    height: 20px;
    width: 63px;
    border-radius: 4px;
    position: absolute;
    left: 18px;
    top: -9px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input {
    height: auto;
    border: transparent;
    padding: 0 10px;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    color: white;
}

.input-container input:focus-visible {
    outline: none;
}

.input-container:focus-within {
    border: 2px solid white;
}

.input-container img {
    height: 16px;
}
